
.animal-background {
    display: block;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50.4vw;
    position: relative;
    background-image: none;
}

.animal-header {
    position: relative;
    top: 2vw;
    display: block;
    height:fit-content;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

.animal-h1 {
    color: #0B6623;
    font-family: "Jost-SemiBold", Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    width: fit-content;
}

.animal-category {
    width: 20vw;
    height: 200px;
    background-color: #0B6623;
    padding-left: 5vw;
    padding-right: 5vw;
}


@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.parent-div {
  width: 1980px;
  height: 1080px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
}
.frame-3-1-20 {
  position: relative;
  width: 1980px;
  height: 1080px;
  top: 0px;
  left: 0px;
  bottom: 50px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  border-radius: 0px 0px 0px 0px;
}
.rectangle-1-1-112 {
  position: absolute;
  width: 1980px;
  height: 1080px;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  border-radius: 0px 0px 0px 0px;
  background: #e2fbe8ff;
}
.amphibians-1-1344 {
  position: absolute;
  width: 216px;
  height: 39px;
  top: 576px;
  left: 280px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}

.fishes-1-2279 {
  position: absolute;
  width: 216px;
  height: 37px;
  top: 888px;
  left: 300px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}

.amphibians-1-1344-0 {
  font-size: 31px;
  font-family: Inter;
  font-weight: 900;

  text-decoration: none;
  text-transform: none;

  line-height: 32px;
  color: #659a6eff;
}

.birds-1-948 {
  position: absolute;
  width: 216px;
  height: 39px;
  top: 882px;
  left: 1530px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.birds-1-948-0 {
  font-size: 31px;
  font-family: Inter;
  font-weight: 900;

  text-decoration: none;
  text-transform: none;

  line-height: 32px;
  color: #659a6eff;
}

.reptiles-1-3240 {
  position: absolute;
  width: 177px;
  height: 31px;
  top: 580px;
  left: 1520px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.reptiles-1-3240-0 {
  font-size: 31px;
  font-family: Inter;
  font-weight: 900;

  text-decoration: none;
  text-transform: none;

  line-height: 32px;
  color: #659a6eff;
}

.insects-1-18 {
  position: absolute;
  width: 167px;
  height: 33px;
  top: 888px;
  left: 929px;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.insects-1-18-0 {
  font-size: 31px;
  font-family: Inter;
  font-weight: 900;

  text-decoration: none;
  text-transform: none;

  line-height: 32px;
  color: #659a6eff;
}

.mammals-1-4002 {
  position: absolute;
  width: 187px;
  height: 39px;
  top: 584px;
  left: 909px;
  opacity: 1;
  z-index: 5;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.mammals-1-4002-0 {
  font-size: 31px;
  font-family: Inter;
  font-weight: 900;

  text-decoration: none;
  text-transform: none;

  line-height: 32px;
  color: #659a6eff;
}


.fishes-1-2279-0 {
  font-size: 31px;
  font-family: Inter;
  font-weight: 900;

  text-decoration: none;
  text-transform: none;

  line-height: 32px;
  color: #659a6eff;
}

.explore-the-ani-1-840 {
  position: absolute;
  width: 803px;
  height: 60px;
  top: 247px;
  left: 589px;
  opacity: 1;
  z-index: 13;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.explore-the-ani-1-840-0 {
  font-size: 47px;
  font-family: Inter;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: 48px;
  color: #0b6623ff;
}

.group-4-1-700 {
  position: absolute;
  width: 400.86676025390625px;
  height: 190.3636016845703px;
  top: 681px;
  left: 1392px;
  opacity: 1;
  z-index: 8;
  transform: rotate(0deg);
}
.nodeBg-3151 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-31-51.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-1-51 {
  position: absolute;
  width: 400.8667730656348px;
  height: 190.36359667169313px;
  top: 14.566521101174999px;
  left: 5.559408871684582px;
  opacity: 1;
  z-index: 0;
  transform: rotate(-4.355413633056008deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}
.nodeBg-3166 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-31-66.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-2-600 {
  position: absolute;
  width: 322px;
  height: 124px;
  top: 31px;
  left: 40px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}
.group-5-1-0 {
  position: absolute;
  width: 400.86676025390625px;
  height: 190.3636016845703px;
  top: 379px;
  left: 1392px;
  opacity: 1;
  z-index: 9;
  transform: rotate(0deg);
}
.nodeBg-3182 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-31-82.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-1-20 {
  position: absolute;
  width: 400.8667730656348px;
  height: 190.36359667169313px;
  top: 14.566521101174999px;
  left: 5.559408871684582px;
  opacity: 1;
  z-index: 0;
  transform: rotate(-4.355413633056008deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}
.nodeBg-3197 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-31-97.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-2-1260 {
  position: absolute;
  width: 322px;
  height: 124px;
  top: 31px;
  left: 40px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}
.group-7-1-1030 {
  position: absolute;
  width: 400.86676025390625px;
  height: 190.3636016845703px;
  top: 672px;
  left: 806px;
  opacity: 1;
  z-index: 10;
  transform: rotate(0deg);
}
.nodeBg-31144 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-31-144.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-1-1550 {
  position: absolute;
  width: 400.8667730656348px;
  height: 190.36359667169313px;
  top: 14.566521101174999px;
  left: 5.559408871684582px;
  opacity: 1;
  z-index: 0;
  transform: rotate(-4.355413633056008deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}
.nodeBg-31159 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-31-159.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-2-195 {
  position: absolute;
  width: 322px;
  height: 124px;
  top: 31px;
  left: 40px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}
.group-6-1-3816 {
  position: absolute;
  width: 400.86676025390625px;
  height: 190.3636016845703px;
  top: 687px;
  left: 188px;
  opacity: 1;
  z-index: 11;
  transform: rotate(0deg);
}
.nodeBg-31113 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-31-113.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-1-297 {
  position: absolute;
  width: 400.8667730656348px;
  height: 190.36359667169313px;
  top: 14.566521101174999px;
  left: 5.559408871684582px;
  opacity: 1;
  z-index: 0;
  transform: rotate(-4.355413633056008deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}
.nodeBg-31128 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-31-128.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-2-2046 {
  position: absolute;
  width: 322px;
  height: 124px;
  top: 31px;
  left: 40px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}
.group-8-1-1809 {
  position: absolute;
  width: 400.86676025390625px;
  height: 190.3636016845703px;
  top: 386px;
  left: 790px;
  opacity: 1;
  z-index: 12;
  transform: rotate(0deg);
}
.nodeBg-31175 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-31-175.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-1-2425 {
  position: absolute;
  width: 400.8667730656348px;
  height: 190.36359667169313px;
  top: 14.566521101174999px;
  left: 5.559408871684582px;
  opacity: 1;
  z-index: 0;
  transform: rotate(-4.355413633056008deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}
.nodeBg-31190 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-31-190.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-2-2520 {
  position: absolute;
  width: 322px;
  height: 124px;
  top: 31px;
  left: 40px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}
.frame-2-1-3232 {
  position: absolute;
  width: 400.86676025390625px;
  height: 190.3636016845703px;
  top: 379px;
  left: 188px;
  opacity: 1;
  z-index: 7;
  transform: rotate(0deg);
  border-radius: 0px 0px 0px 0px;
}
.group-3-1-3720 {
  position: absolute;
  width: 400.86676025390625px;
  height: 190.3636016845703px;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
}
.nodeBg-2144 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-21-44.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-1-605 {
  position: absolute;
  width: 400.8667730656348px;
  height: 190.36359667169313px;
  top: 14.566521101174999px;
  left: 5.559408871684582px;
  opacity: 1;
  z-index: 0;
  transform: rotate(-4.355413633056008deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}
.nodeBg-2128 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F26-jan-2024%2Fayushrajpandey1706276118393%2Fimage-21-28.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.mask-group-2-1230 {
  position: absolute;
  width: 322px;
  height: 124px;
  top: 31px;
  left: 40px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  transform-origin: 0px 0px;
  overflow: hidden;
}

