.box {
  width: 80%;
  height: 2vw;
  background-color: white;
  color: #0B6623;
  border: #0B6623;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: height 0.5s;
  margin-top: 0.5vw;
  margin-left: auto;
  margin-right: auto;
}

.extended {
  height: auto; 
  display: flex;
  flex-direction: column; 
}

.extended-content {
  margin-top: 10px;
  font-size: 1vw;  
  padding-bottom: 1vw; /* Add padding to match the main box */
  color: #0B6623;
}

.listbox-title {
  font-size: 1vw;
}

