.App {
  text-align: justify;
  width: 100%;
}

.img {

  height: auto;

  max-width: 100%;

}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  position: absolute; bottom: 30px; right: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: auto;
  }
}

.App-header {
  background-color: #158a70;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

